@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Open sans;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
}

/*----------navbar ------------------*/
.nav-container {
    width: 100%;
    height: 9vh;
    background:#0c722e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 a {
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.4em;
    color: #16e216;
}

nav h3 a img {
    width: 45px;
    height: 6vh;

}

nav h3 a span {
    color: orange;
    font-family: Open sans;
}

nav ul {
    display: flex;
    gap: 25px;
}

ul li {
    list-style-type: none;
    font-family: Roboto;
    font-size: 1.2em;

}

ul li a {
    text-decoration: none;
    color: orange;
    position: relative;
    font-family: Roboto;
    font-weight: bold;
}

ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: orange;
    transition: width 0.3s ease;
}

ul li a:hover::after {
    width: 100%;
}

ul li:nth-child(5) a {
    margin-left: 20px;
    font-weight: bold;
    padding: 5px 8px;
    color: #fff;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 10px;
}

ul li:nth-child(5) a::after {
    content: "";
    position: absolute;
    width: 0;
}

/*-----------SECTIONS-----------*/
.page-sections {
    margin-top: 9vh;
    display: flex;
    flex-direction: column;


}

section {
    width: 100%;
    min-height: 60vh;
    padding: 10px 10px;
}

/*--Home section--*/
#home {
    height: 91vh;
    margin-top: -10px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/backgr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#home h2 {
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: Roboto;
    font-size: 2.3em;
    font-weight: bold;
    color: #ffffff;
}

#home h3 {
    font-family: Roboto;
    font-size: 1.8em;
    color: orange;
    padding-left: 20px;
}

#home h3 span {
    font-family: open sans;
    color: #16e216;
}

#home p {
    font-size: 1.2em;
    font-family: Roboto;
    color: #fff;
    padding-left: 20px;
}

.home-btn {
    display: flex;
    margin: 25px 0 0 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-btn a:nth-child(1) {
    background-color: green;
    color: #fff;
    display: inline-block;
    padding: 10px 10px;
    font-family: open sans;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.home-btn a:nth-child(1):hover {
    transform: translatey(5px);
    opacity: 0.75;
}

.home-btn a:nth-child(2) {
    background-color: orange;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 10px 10px;
    font-family: Roboto;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.home-btn a:nth-child(2):hover {
    transform: translatey(5px);
    opacity: 0.75;
}

/*--About section----*/
#about {
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #052905;
  
}

.about-first {
    width: 35%;
}

.about-first img {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}

.about-second {
    width: 40%;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-second h2 {
    font-size: 2em;
    color: orange;


}

.about-second h3 {
    font-size: 1.8em;
    color: orange;
}

.about-second h3 span {
    color: #16e216;
}

.about-second p {
    line-height: 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;

}

.second-cards {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.card,
.cards {
    display: flex;
    gap: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: 0.6s ease;
}

.card:hover {
    transform: translatey(-5px);
    background-color: #13522d;
}

.card i,
.cards i {
    font-size: 1.6em;
    align-self: center;
    color:#16e216;
}

.card p,
.cards p {
    align-self: flex-start;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    padding-bottom: 12px;

}

.about-third {
    width: 20%;
    margin-left: 20px;
}

.third-cards {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.cards {
    background-color: #000;
    transition: 0.5s ease;
}

.cards:hover {
    transform: translatex(-5px);
   background-color: #13522d;
}

.cards span {
    font-size: 1.5em;
    color: orange;
}
/*-----SERVICES---------*/
#services {
  background: #0c520c; 
}
.services-container {
    width: 100%;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services-container  h2{
    max-width: 30px 0;
    text-align: center;
    font-size: 1.8em;
    color: #fff;
}
.services-container h2 span{
    color: orange;
}
.services-boxes{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 70px;
}
.service-box{
    background:transparent;
    backdrop-filter: blur(200);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
}
.service-box:hover{
   transform: translatey(5px);
   background-color: #13522d;
}
.service-box i{
    font-size: 2.2em;
    color: orange;
    margin: 10px 0;
}
.service-box h3{
    font-size: 1.3em;
    color: #1bd31b;
}
.service-box p{
    text-align: center;
    color: #fff;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.project-image{
     flex: 1;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.project-image img{
 height: 30vh;
 border-radius: 10px;

}
.project-image h3{
    color: #fff;
    text-align: center;
}
.project-image:hover{
 transform: scale(1.1);
}
.project-more{
    padding: 10px 5px;
    background-color: orange;
    color: #fff;
    border-radius: 10px;
     transition: 0.6s ease;
}
.project-more:hover{
   transform: translatey(-5px);
   background-color: #13522d;
}


/*----CONTACT------------*/
#contact {
  background: #052905;
}


.contact-container {
    width: 100%;
    margin: 10px 5px;
    display: flex;
    gap: 20px;
}

.contact-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-left h2 {
    font-size: 1.8em;
    color: #16e216;
}
.contact-left h2 span{
    color: orange;
}
.contact-left p{
    line-height: 1.2em;
    font-weight: bold;
    color: #fff;
}
.contact-links{
    margin-top:15px;
    display: flex;
    gap: 20px;
}
.contact-links-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-links-left a{
    padding: 20px 10px;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    transition: 0.5s ease;
}
.contact-links-left a:hover,
.contact-links-right a:hover{
    transform: translateY(-5px);
    background-color: #13522d;
}
.contact-links-left a i{
   color: #16e216;
    font-size: 1.7em;
    align-self: center;
}
.contact-links-left a p{
   margin-left: 10px;
}
.contact-links-left a p span{
    font-size: 1.2em;
    color: orange;
}
.contact-links-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.6s ease;
}
.contact-links-right a{
    padding: 6px 5px;
    color: #fff;
    border: 1px solid#16e216;;
    border-radius: 10px;
}
.contact-links-right a i{
    font-size: 1.3em;
    color:#16e216;
}
.contact-form{
    box-shadow:4px 5px 9px#9ea79e;;
    padding: 10px;
    background-color:#052905;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.grid-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.contact-form input{
   padding: 15px 8px;
   background-color: transparent;
   color: #fff;
   border-radius: 10px;
   border: 1px solid orange;
   outline: none;
}
.contact-form textarea{
     height: 12vh;
     resize: none;
     padding-left: 10px;
     border: 1px solid orange;
     line-height: 1.2em;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    outline: none;
}
::placeholder{
    color: #fff;
}
.contact-form button{
    padding: 10px 5px;
    background-color: #16e216;
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.contact-form button:hover{
    transform: translateX(5px);
    opacity: 0.5;
}
.contact-form button i{
    font-size: 1.5em;
    color: #fff;
    padding-right: 10px;
}

.contact-right{
    width: 45%;
}
.contact-right h2{
    color: #fff;
    text-align: center;
}
.contact-right h2 i{
    font-size: 1.4em;
    color: orange;
}
.contact-right iframe{
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
     box-shadow:4px 4px 6px rgba(0, 0, 0, 0.4);
}


/*-----Footer-------*/
.footer-container {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #0c722e;
}

.footer-container footer {
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.footer-upper {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-div {
    display: flex;
    flex-direction: column;
}


.footer-div h2 {
    color: orange;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-div a,
.footer-div p {
    font-size: 0.9em;
    color: #fff;
}

.first h3 {
    color: #16e216;
    font-family: Roboto;
    font-size: 1.7em;
}

.first h3 span {
    color: orange;
}

.first p {
    color: #fff;
    font-size: 1em;
}

.first-icons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.first-icons p {
    font-size: 1.1em;
    color: orange;

}

.first-icons a,
.fourth a {
    margin-bottom: 2px;
    font-family: Open sans;
    font-size: 1em;
    color: #fff;
}

.first-icons a:hover,
.second a:hover,
.third a:hover,
.fourth a:hover {
    color: #53966f;
}

.first-icons a i,
.fourth i {
    color: #16e216;
    margin: 0 5px 10px 0;
    font-size: 1.3em;
}

.footer-below {
    margin: 15px;
}

.footer-below p {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.fifth-input {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.fifth-input input {
    background: transparent;
    color: #fff;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 3px 2px;
    outline: none;
}

.fifth-input button {
    border: none;
    background-color: orange;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
