*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/nature.jpg);
    background-position:  top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.login-form{
    width: 500px;
    min-height: 70vh;
    margin: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow:0 4px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.icon{
    width: 100%;
    text-align: center;
}
.fa-cloud-sun{
    font-size: 1.4rem;
    color: #fff;
}

.welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.welcome h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #fff;
}
.welcome p{
    text-align: center;
    color: #ebe5e5;
    padding: 0 20px;
}

.form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}
.logins{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.logins label{
   color: #ebe5e5;
   text-align: left;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logins input{
    padding: 15px;
    background: transparent;
    border: 1px solid #ebe5e5;
    border-radius: 10px;
    color: #fff;
    outline: none;
}
.logins input::placeholder{
    text-align: left;
    padding-left: 10px;
    color: #ebe5e5;
}

.check{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.check-left{
    width: 50%;
    display: flex;
    gap: 5px;
    color: #ebe5e5;
}
.check-right a{
 text-decoration: none;
 color: #fff;
 font-weight: bold;
}

.btn{
    width: 100%;
}
.btn button{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
}
.or hr{
    flex: 1;
}
.or span{
    margin: 0 10px;
    color: #ebe5e5;
}

 .google button {
    padding: 15px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #ebe5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.5s ease-in-out;
}
button:hover{
   transform: scale(0.97);
}
.fa-google{
    color: #fff;
    font-size: 1.5em;
}
.google a{
    text-decoration: none;
    color: #fff;
}


.signup{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
    border-bottom: 15px;
}
.signup p{
color: #ebe5e5;
}
.signup a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}